<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.quemb.qmbform">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        >
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity
            android:name=".brower.PhotoBrowserActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/PhotoBrowserTheme" />
    </application>

</manifest>
